html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 60%;
    height: 7%;
    margin: 0px auto;
}

h1 {
    margin-left: 3%;
}

h2 {
    margin: 1% auto;
    font-size: 40px
}

h3 {
    font-size: 36px;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px auto;
}

.boxes {
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    height: 775px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 44%;
    width: 27%;
    padding: 3% 0px;
    margin-right: 2%;
    border: 4px solid black;
    /* background-color: aliceblue; */
}

.left a {
    font-size: 24px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    width: 70%;
    /* background-color: white; */
}

.neil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: bisque; */
    border: 4px solid black;
    width: 93%;
    padding-left: 7%;
    height: 31%;
}

.nichole {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: bisque; */
    border: 4px solid black;
    width: 93%;
    padding-left: 7%;
    height: 31%;
}

.jim {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: bisque; */
    border: 4px solid black;
    width: 93%;
    padding-left: 7%;
    height: 31%;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    width: 85%;
    font-size: 24px;
}

.update {
    margin-bottom: 5%;
    margin-right: 5%;
    font-size: 30px;
}